/*media queries for sub 500px single column displays*/
@media screen and (max-width: 379px) {
  body {
    width: 95%;
  }

  .single-column {
    width: 100%;
    margin: 0;
  }

  #title-role {
    text-align: center;
  }
}

/*element size restrictions*/
body {
  min-width: 300px;
}

#udacity-logo {
  max-height: 100px;
}

/*Colors, font, text decoration*/
body {
  color: #777;
  font-family: "Architects Daughter", cursive;
}

hr {
  color: #bcbbbb;
  background-color: #bcbbbb;
}

#title-role {
  color: #747704;
}

figcaption {
  color: #777;
}

figcaption a {
  text-decoration: none;
}

figcaption a:hover {
  text-decoration: none;
}

figcaption a:link {
  color: #777;
}

figcaption a:visited {
  color: #777;
}

/*font size change at sub 500 displays*/
@media screen and (max-width: 449px) {
  h2 {
    font-size: 22px;
  }

  h4 {
    font-size: 15px;
  }

  h3 {
    font-size: 18px;
  }

  #udacity-logo {
    max-height: 80px;
  }

}

hr {
  height: 2px;
}

/*spacing*/
body {
  margin: 1% auto;
}

header {
  padding-top: 5px;
}

figcaption {
  margin: 5px auto;
  overflow-x: auto;
}

figcaption p {
  margin-bottom: 5px;
}

/*gallery styles*/
.box-around {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.box-around img {
  max-width: 100%;
}

.dummy {
  width: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/*box shadows for image and container*/
.closed {
  max-width: 300px;
  margin: 0 auto;
}

/*featured work image shadow*/
.effect {
  box-shadow: 0 10px 6px -6px #777;
}

/*container shadow*/
.conEffect {
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.conEffect:before,
.conEffect:after {
	content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:10px;
  bottom:10px;
  left:0;
  right:0;
  border-radius:100px / 10px;
}

.conEffect:after {
  right:10px;
  left:auto;
  transform:skew(8deg) rotate(3deg);
}

/*container background texture*/
.paper {
  background-color: #f7f7f7;
  background-image: url("../../img/paper.png");
}

/*hero image shadow*/
.heroEffect {
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.heroEffect:before,
.heroEffect:after {
  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  border-radius:100px / 10px;
}

.heroEffect:after {
  right:10px;
  left:auto;
  transform:skew(8deg) rotate(3deg);
}
